@import "tailwindcss";

@utility inputs {
    @apply focus:ring-2 focus:ring-blue-500 focus:border-transparent outline-none transition-all;
}

@utility labels {
    @apply block text-sm font-medium text-gray-700 mb-2;
}